body {
  font-family: "Open Sans";
  color: #303030;
  padding-top: 78px; }

@media (min-width: 768px) {
  body {
    padding-top: 103px; } }
.construction {
  margin-top: 50px;
  text-align: center; }
  .construction img {
    width: 200px; }
  .construction header h1 {
    margin-top: 65px;
    font-weight: 600;
    font-size: 40px; }
    .construction header h1 span {
      padding-top: 20px;
      border-top: 1px solid #e7e7e7; }
  .construction .textblock p {
    font-size: 14px;
    padding-top: 20px; }
  .construction .textblock.intro p {
    line-height: 10px;
    font-weight: 100;
    font-size: 22px;
    padding-top: 0; }

.btn-sm {
  border: none;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 20px;
  border-radius: 4px; }

.btn-default {
  background-color: #2980b9;
  color: white; }

.btn-default:hover {
  background-color: #2574a8;
  color: white; }

.btn-primary {
  background-color: #FFF;
  color: #2980b9; }

.btn-primary:hover {
  background-color: #dedede; }

.error {
  color: red;
  margin-bottom: 10px;
  background-color: #FFCCBA;
  padding: 5px;
  border: 1px solid red; }

hr {
  width: 60%; }

section.button {
  text-align: center; }

section.blue {
  background-color: #2980b9;
  color: #FFF; }
  section.blue a {
    color: #FFF;
    text-decoration: underline;
    font-weight: 300; }
  section.blue a:hover {
    text-decoration: none;
    color: #dedede; }
  section.blue .btn-primary {
    color: #2980b9;
    text-decoration: none; }
  section.blue .btn-primary:hover {
    color: #2980b9; }

h1 {
  font-weight: 300;
  line-height: 1.15em;
  font-size: 25px; }

@media (min-width: 768px) {
  h1 {
    font-size: 30px; } }
h2 {
  font-size: 18px;
  font-weight: 500; }

p {
  font-weight: 300; }

.form-control {
  border-radius: 0px;
  border: none;
  height: 40px; }

form .form-group label {
  font-weight: 300; }

.quote {
  font-style: italic;
  font-size: 16px; }

.quote:before {
  font-family: Georgia;
  content: open-quote;
  font-size: 5em;
  line-height: 0.1em;
  margin-right: 0.15em;
  vertical-align: -0.4em; }

#navbar {
  position: relative; }

.navbar-toggle {
  margin-top: 25px; }

.navbar-fixed-top .navbar-collapse {
  max-height: 380px; }

.navbar-default {
  background-color: rgba(255, 255, 255, 0.97); }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #303030; }

.navbar {
  text-transform: uppercase;
  font-weight: 600; }
  .navbar .navbar-nav {
    margin: 7.5px 0px; }
  .navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover {
    background-color: transparent; }
  .navbar .navbar-main {
    font-size: 12px; }
  @media (min-width: 768px) {
    .navbar .navbar-main {
      position: absolute;
      right: 0;
      bottom: 0; } }
  .navbar .navbar-brand {
    height: auto; }
    .navbar .navbar-brand img {
      width: 115px; }
    @media (min-width: 768px) {
      .navbar .navbar-brand img {
        width: 175px; } }
  .navbar .glyphicon {
    padding-right: 10px; }
  .navbar .navbar-right {
    text-align: center;
    border-top: 1px solid #e7e7e7;
    padding-top: 15px; }
    .navbar .navbar-right .phone {
      font-size: 20px;
      font-weight: 300; }
    .navbar .navbar-right li {
      padding: 5px 15px; }
    .navbar .navbar-right #social-icons {
      display: none; }
    .navbar .navbar-right .language-dropdown .btn {
      padding: 0;
      border: none; }
    .navbar .navbar-right .language-dropdown .btn-default {
      display: none; }
    .navbar .navbar-right .language-dropdown .dropdown-menu {
      position: relative;
      display: block;
      border: none;
      background-color: transparent;
      box-shadow: none;
      -webkit-box-shadow: none;
      display: inline-block;
      float: none; }
      .navbar .navbar-right .language-dropdown .dropdown-menu :first-of-type a {
        padding-left: 0; }
      .navbar .navbar-right .language-dropdown .dropdown-menu li {
        float: left;
        padding: 5px 0px; }
        .navbar .navbar-right .language-dropdown .dropdown-menu li a {
          padding: 0px 15px; }
  @media (min-width: 768px) {
    .navbar .navbar-right {
      border: none; }
      .navbar .navbar-right li {
        padding: 0px 15px;
        border-right: 1px solid #dedede; }
      .navbar .navbar-right li:last-of-type {
        border: none; }
      .navbar .navbar-right .language-dropdown .btn-default {
        display: block;
        background-color: transparent;
        color: #303030; }
      .navbar .navbar-right .language-dropdown .dropdown-menu {
        position: absolute;
        display: none;
        left: -10px;
        min-width: 50px;
        background-color: #fff;
        border-radius: 0px;
        margin-top: 10px; }
        .navbar .navbar-right .language-dropdown .dropdown-menu :first-of-type a {
          padding-left: 15px; }
        .navbar .navbar-right .language-dropdown .dropdown-menu li {
          float: none;
          border: none; }
      .navbar .navbar-right .open > .dropdown-menu {
        display: block; }
      .navbar .navbar-right .phone {
        font-size: 16px; }
      .navbar .navbar-right #social-icons {
        display: block;
        margin-top: -2px; }
        .navbar .navbar-right #social-icons a {
          float: left;
          width: 25px;
          height: 25px;
          padding: 4px;
          background-color: #979899;
          margin-right: 4px;
          color: #FFF;
          border-radius: 50%; }
        .navbar .navbar-right #social-icons a:hover {
          background-color: #dedede; } }

#dealers .bh-sl-container .loc-name {
  font-weight: bold; }
#dealers .bh-sl-container .bh-sl-map {
  width: 100%;
  height: 300px; }
  @media (min-width: 768px) {
    #dealers .bh-sl-container .bh-sl-map {
      height: 530px; } }
#dealers .bh-sl-container .bh-sl-loc-list .list-details header {
  margin-bottom: 10px; }
  #dealers .bh-sl-container .bh-sl-loc-list .list-details header h2 {
    line-height: 22px;
    margin: 0; }
#dealers .bh-sl-container .bh-sl-loc-list ul li {
  display: block;
  clear: left;
  float: left;
  margin: 3% 4%;
  padding-bottom: 15px;
  cursor: pointer;
  width: 92%;
  border-bottom: 1px solid #dedede; }
#dealers .bh-sl-container .bh-sl-loc-list ul li:hover, #dealers .bh-sl-container .bh-sl-loc-list ul li.list-focus {
  background: #dedede; }
#dealers .bh-sl-container .bh-sl-loc-list .list-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 3px;
  width: 20px;
  max-width: 25px;
  text-align: center;
  background: #dedede;
  color: #303030;
  font-weight: bold; }
#dealers .bh-sl-container .bh-sl-loc-list .list-details .list-content {
  padding: 0 10px; }
  #dealers .bh-sl-container .bh-sl-loc-list .list-details .list-content .view {
    color: #2980b9; }
#dealers .bh-sl-container .bh-sl-loc-list .list-details {
  float: left;
  margin-left: 6px;
  width: 65%; }
#dealers .bh-sl-container .bh-sl-loc-list .list-logo {
  float: left;
  width: 30%;
  max-width: 100px;
  position: relative; }
  #dealers .bh-sl-container .bh-sl-loc-list .list-logo img {
    width: 100%; }
#dealers .bh-sl-loc-list {
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%; }
  @media (min-width: 768px) {
    #dealers .bh-sl-loc-list {
      width: 318px;
      height: 530px;
      position: absolute;
      z-index: 2;
      overflow: scroll; } }

@font-face {
  font-family: 'Pe-icon-social';
  src: url("../fonts/Pe-icon-social.eot?-96eskg");
  src: url("../fonts/Pe-icon-social.eot?#iefix-96eskg") format("embedded-opentype"), url("../fonts/Pe-icon-social.woff?-96eskg") format("woff"), url("../fonts/Pe-icon-social.ttf?-96eskg") format("truetype"), url("../fonts/Pe-icon-social.svg?-96eskg#Pe-icon-social") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="pe-so-"], [class*=" pe-so-"] {
  display: inline-block;
  font-family: 'Pe-icon-social';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.pe-so-500px:before {
  content: "\e600"; }

.pe-so-aim:before {
  content: "\e601"; }

.pe-so-amazon:before {
  content: "\e602"; }

.pe-so-android:before {
  content: "\e603"; }

.pe-so-app-store:before {
  content: "\e604"; }

.pe-so-apple:before {
  content: "\e605"; }

.pe-so-behance:before {
  content: "\e606"; }

.pe-so-bitbucket:before {
  content: "\e607"; }

.pe-so-blogger:before {
  content: "\e608"; }

.pe-so-bootstrap:before {
  content: "\e609"; }

.pe-so-chrome:before {
  content: "\e60a"; }

.pe-so-codepen:before {
  content: "\e60b"; }

.pe-so-css3:before {
  content: "\e60c"; }

.pe-so-delicious:before {
  content: "\e60d"; }

.pe-so-deviantart-1:before {
  content: "\e60e"; }

.pe-so-deviantart-2:before {
  content: "\e60f"; }

.pe-so-digg:before {
  content: "\e610"; }

.pe-so-dribbble:before {
  content: "\e611"; }

.pe-so-dropbox:before {
  content: "\e612"; }

.pe-so-drupal:before {
  content: "\e613"; }

.pe-so-ebay:before {
  content: "\e614"; }

.pe-so-etsy:before {
  content: "\e615"; }

.pe-so-evernote:before {
  content: "\e616"; }

.pe-so-facebook:before {
  content: "\e617"; }

.pe-so-firefox:before {
  content: "\e618"; }

.pe-so-flattr:before {
  content: "\e619"; }

.pe-so-flickr:before {
  content: "\e61a"; }

.pe-so-forrst:before {
  content: "\e61b"; }

.pe-so-foursquare:before {
  content: "\e61c"; }

.pe-so-git:before {
  content: "\e61d"; }

.pe-so-github:before {
  content: "\e61e"; }

.pe-so-google-drive:before {
  content: "\e61f"; }

.pe-so-google-plus:before {
  content: "\e620"; }

.pe-so-grooveshark:before {
  content: "\e621"; }

.pe-so-habbo:before {
  content: "\e622"; }

.pe-so-hacker-news:before {
  content: "\e623"; }

.pe-so-html5:before {
  content: "\e624"; }

.pe-so-ie:before {
  content: "\e625"; }

.pe-so-instagram:before {
  content: "\e626"; }

.pe-so-joomla:before {
  content: "\e627"; }

.pe-so-jsfiddle:before {
  content: "\e628"; }

.pe-so-lanyrd:before {
  content: "\e629"; }

.pe-so-lastfm:before {
  content: "\e62a"; }

.pe-so-like:before {
  content: "\e62b"; }

.pe-so-linkedin:before {
  content: "\e62c"; }

.pe-so-linux:before {
  content: "\e62d"; }

.pe-so-love:before {
  content: "\e62e"; }

.pe-so-magento:before {
  content: "\e62f"; }

.pe-so-myspace:before {
  content: "\e630"; }

.pe-so-odnolassniki:before {
  content: "\e631"; }

.pe-so-openid:before {
  content: "\e632"; }

.pe-so-opera:before {
  content: "\e633"; }

.pe-so-paypal-1:before {
  content: "\e634"; }

.pe-so-paypal-2:before {
  content: "\e635"; }

.pe-so-picasa:before {
  content: "\e636"; }

.pe-so-pied-piper:before {
  content: "\e637"; }

.pe-so-pinterest:before {
  content: "\e638"; }

.pe-so-pixeden:before {
  content: "\e639"; }

.pe-so-qq:before {
  content: "\e63a"; }

.pe-so-qzone:before {
  content: "\e63b"; }

.pe-so-rdio:before {
  content: "\e63c"; }

.pe-so-reddit:before {
  content: "\e63d"; }

.pe-so-renren:before {
  content: "\e63e"; }

.pe-so-rss:before {
  content: "\e63f"; }

.pe-so-safari-1:before {
  content: "\e640"; }

.pe-so-safari-2:before {
  content: "\e641"; }

.pe-so-sass:before {
  content: "\e642"; }

.pe-so-share:before {
  content: "\e643"; }

.pe-so-skype:before {
  content: "\e644"; }

.pe-so-slideshare:before {
  content: "\e645"; }

.pe-so-soundcloud:before {
  content: "\e646"; }

.pe-so-spotify:before {
  content: "\e647"; }

.pe-so-stack-exchange:before {
  content: "\e648"; }

.pe-so-stack-overflow:before {
  content: "\e649"; }

.pe-so-steam:before {
  content: "\e64a"; }

.pe-so-stumbleupon:before {
  content: "\e64b"; }

.pe-so-tencent-weibo:before {
  content: "\e64c"; }

.pe-so-trello:before {
  content: "\e64d"; }

.pe-so-tripadvisor:before {
  content: "\e64e"; }

.pe-so-tumblr:before {
  content: "\e64f"; }

.pe-so-twitch:before {
  content: "\e650"; }

.pe-so-twitter:before {
  content: "\e651"; }

.pe-so-ubuntu:before {
  content: "\e652"; }

.pe-so-viadeo:before {
  content: "\e653"; }

.pe-so-vimeo:before {
  content: "\e654"; }

.pe-so-vine:before {
  content: "\e655"; }

.pe-so-vk:before {
  content: "\e656"; }

.pe-so-wechat:before {
  content: "\e657"; }

.pe-so-weibo:before {
  content: "\e658"; }

.pe-so-wikipedia:before {
  content: "\e659"; }

.pe-so-windows:before {
  content: "\e65a"; }

.pe-so-wordpress-1:before {
  content: "\e65b"; }

.pe-so-wordpress-2:before {
  content: "\e65c"; }

.pe-so-xing:before {
  content: "\e65d"; }

.pe-so-yahoo-1:before {
  content: "\e65e"; }

.pe-so-yahoo-2:before {
  content: "\e65f"; }

.pe-so-yelp:before {
  content: "\e660"; }

.pe-so-youtube-1:before {
  content: "\e661"; }

.pe-so-youtube-2:before {
  content: "\e662"; }

.pe-so-zerply:before {
  content: "\e663"; }

header .focus {
  position: relative;
  z-index: 4;
  overflow: hidden;
  text-align: center;
  margin-bottom: 20px; }
  header .focus h1 {
    margin: 20px 0px; }
  header .focus .image {
    display: none; }

header h1 {
  text-align: center; }

header .textblock.intro {
  text-align: center;
  font-size: 17px; }

@media (min-width: 768px) {
  .col-md-6 {
    float: left;
    width: 50%; }

  header .textblock.intro {
    padding: 0 10%; } }
@media (min-width: 992px) {
  header .textblock.intro {
    padding: 0 25%; } }
#products header {
  margin-bottom: 25px; }
  #products header .focus {
    background-image: url("http://www2.shutterstock.com/webstack/img/lohp/hero/hero-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.05);
    max-height: 280px; }
  #products header .focus:before {
    content: "";
    display: block;
    padding-top: 40%;
    width: 0;
    float: left; }

#dealers header {
  margin-bottom: 25px; }
  #dealers header .focus {
    background-image: url("http://www2.shutterstock.com/webstack/img/lohp/hero/hero-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.05);
    max-height: 280px; }
  #dealers header .focus:before {
    content: "";
    display: block;
    padding-top: 40%;
    width: 0;
    float: left; }

#dealers section.dealers {
  padding: 0;
  margin-bottom: 25px; }
#dealers .filter {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 5px;
  color: #777;
  text-decoration: none; }
  #dealers .filter ul li {
    padding-left: 30px; }
  #dealers .filter ul li.reset {
    border-right: 1px solid #dedede;
    padding-right: 30px;
    padding-left: 0; }
  #dealers .filter a:hover, #dealers .filter .active > a, #dealers .filter .active > a:hover, #dealers .filter .active > a:focus {
    color: #303030; }

.filter .btn-primary {
  border-color: #dedede;
  color: #303030;
  border-radius: 0px; }
.filter .btn-primary.active {
  background-color: #dedede; }
.filter .btn.active {
  box-shadow: none; }

#products .filter {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 5px; }
  #products .filter ul li {
    padding-left: 30px; }
  #products .filter ul li.reset {
    border-right: 1px solid #dedede;
    padding-right: 30px;
    padding-left: 0; }
  #products .filter a {
    color: #777;
    text-decoration: none; }
  #products .filter a:hover, #products .filter .active > a, #products .filter .active > a:hover, #products .filter .active > a:focus {
    color: #303030; }
@media (min-width: 768px) {
  #products .products .col-md-4 {
    float: left;
    width: 33.33333%; } }
#products .productItem {
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #dedede;
  padding-bottom: 30px; }
  #products .productItem img {
    padding-left: 6%;
    padding-right: 6%; }
  @media (min-width: 768px) {
    #products .productItem img {
      padding-left: 10%;
      padding-right: 10%; } }
  #products .productItem .btn {
    margin-top: 10px; }

#about header .focus {
  background-image: url("http://www2.shutterstock.com/webstack/img/lohp/hero/hero-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.05);
  max-height: 280px; }
#about header .focus:before {
  content: "";
  display: block;
  padding-top: 40%;
  width: 0;
  float: left; }

#about .aboutImg {
  text-align: center; }
  #about .aboutImg img {
    border-radius: 50%;
    margin-bottom: 20px; }

#news header .focus {
  background-image: url("http://www2.shutterstock.com/webstack/img/lohp/hero/hero-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.05);
  max-height: 280px; }
#news header .focus:before {
  content: "";
  display: block;
  padding-top: 40%;
  width: 0;
  float: left; }
#news header header {
  text-align: center; }

#news .newsItem {
  padding-bottom: 10px;
  text-align: left; }
  #news .newsItem h1 {
    text-align: left; }
  #news .newsItem .image img {
    border-radius: 50%;
    float: left;
    width: 25%;
    margin-right: 5%; }
  #news .newsItem .newsDetail {
    padding-left: 30%;
    padding-bottom: 10px; }
  #news .newsItem hr {
    width: 100%;
    margin-top: 30px; }
  #news .newsItem footer {
    padding-top: 15px; }
  @media (min-width: 992px) {
    #news .newsItem .image img {
      width: 20%;
      margin-right: 5%; }
    #news .newsItem .newsDetail {
      padding-left: 25%; } }
  #news .newsItem .more {
    font-weight: 400;
    text-decoration: underline; }
#news .newsItem:last-of-type {
  padding-bottom: 0; }

#news-detail header .focus {
  background-image: url("http://www2.shutterstock.com/webstack/img/lohp/hero/hero-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.05);
  max-height: 280px; }
#news-detail header .focus:before {
  content: "";
  display: block;
  padding-top: 40%;
  width: 0;
  float: left; }
#news-detail h1 {
  text-align: left; }
#news-detail .textblock.intro {
  text-align: left;
  padding: 0; }

#welcome header .focus {
  background-image: url("../images/home-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.05);
  max-height: 180px; }
#welcome header .focus:before {
  content: "";
  display: block;
  padding-top: 45%;
  width: 0;
  float: left; }
@media (min-width: 768px) {
  #welcome header .focus {
    text-align: left;
    max-height: 340px; }
    #welcome header .focus header {
      padding-top: 18%; }
      #welcome header .focus header h1 {
        text-align: left; }
    #welcome header .focus .image {
      display: block;
      text-align: center;
      line-height: 340px; }
      #welcome header .focus .image img {
        vertical-align: middle;
        width: 100%; } }
    @media (min-width: 768px) and (min-width: 992px) {
      #welcome header .focus .image img {
        width: 75%; } }

#welcome .range nav {
  background-color: #2980b9;
  padding: 10px 20px 20px 20px;
  color: #FFF; }
  #welcome .range nav h1 {
    text-align: left; }
  #welcome .range nav h2 {
    font-weight: 300;
    margin-top: 15px; }
  #welcome .range nav ul {
    margin-top: 15px;
    height: 155px;
    overflow-y: scroll;
    overflow-x: visible; }
  #welcome .range nav ul li {
    padding: 15px 0;
    border-bottom: 1px solid #dedede;
    position: relative; }
    #welcome .range nav ul li a {
      color: #FFF; }
    #welcome .range nav ul li a:hover {
      color: #dedede;
      text-decoration: none; }
    #welcome .range nav ul li .active::after {
      position: absolute;
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid white;
      top: 16px;
      right: -30px; }
  #welcome .range nav li.active {
    background-color: white;
    padding-left: 10px; }
    #welcome .range nav li.active a {
      color: #2980b9; }
    #welcome .range nav li.active a:hover {
      color: #2980b9;
      text-decoration: none; }
    #welcome .range nav li.active a:focus {
      text-decoration: none; }
#welcome .owl-carousel .owl-item .item .textblock {
  text-align: center; }
#welcome .owl-carousel .owl-item .item img {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 30px; }
#welcome .owl-theme .owl-controls {
  position: absolute;
  top: 50%;
  width: 100%; }
  #welcome .owl-theme .owl-controls .owl-buttons div {
    background-color: transparent;
    position: absolute; }
  #welcome .owl-theme .owl-controls .owl-buttons .owl-next {
    right: 0; }
  #welcome .owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 0; }

section.block {
  padding: 30px 0; }

section#sec-footer {
  text-align: left; }
  section#sec-footer .col {
    padding-bottom: 20px; }
  section#sec-footer .kabarda {
    display: none; }
  section#sec-footer header h1 {
    text-align: left; }
  @media (min-width: 600px) {
    section#sec-footer .col-md-4 {
      float: left;
      width: 50%; }
    section#sec-footer .col {
      border-right: 1px solid #dedede;
      padding-right: 25px;
      padding-left: 25px; }
    section#sec-footer .col:last-of-type {
      border-right: none; } }
  @media (min-width: 992px) {
    section#sec-footer .col-md-4 {
      width: 33.33333333%; }
    section#sec-footer .kabarda {
      display: block;
      text-align: center; }
      section#sec-footer .kabarda header, section#sec-footer .kabarda .textblock {
        text-align: left; }
      section#sec-footer .kabarda img {
        width: 170px;
        margin-top: 10%; } }
  section#sec-footer h1 {
    padding-bottom: 10px; }
  section#sec-footer .contact {
    padding-bottom: 15px; }
  section#sec-footer .newsList {
    padding-bottom: 15px; }
    section#sec-footer .newsList .newsItem {
      padding-bottom: 10px;
      text-align: left; }
      section#sec-footer .newsList .newsItem a {
        text-decoration: none; }
      section#sec-footer .newsList .newsItem .image img {
        border-radius: 50%;
        float: left;
        width: 85px; }
      section#sec-footer .newsList .newsItem .newsDetail {
        padding-left: 100px; }
      section#sec-footer .newsList .newsItem .more {
        font-weight: 400;
        text-decoration: underline; }
    section#sec-footer .newsList .newsItem:last-of-type {
      padding-bottom: 0; }

#footer footer {
  background-color: #303030;
  color: #FFF;
  padding: 20px 0; }
  #footer footer .legal {
    border-top: 1px solid #4a4a4a;
    padding-top: 20px; }
  #footer footer .navbar-footer li {
    float: left; }
  #footer footer .navbar-footer a {
    color: #FFF;
    background-color: transparent;
    padding-top: 0px; }
  #footer footer .navbar-footer a:hover {
    color: #dedede; }
  @media (min-width: 768px) {
    #footer footer {
      padding-bottom: 5px; }
      #footer footer .legal {
        border-top: none;
        text-align: right;
        padding-top: 0; } }

section.strengths {
  text-align: center; }
  section.strengths .glyphicon {
    font-size: 45px; }
  section.strengths .strengthItem {
    padding-bottom: 15px; }

#contact section.contact header h1 {
  text-align: left; }
#contact section.maps, #contact #map-canvas {
  height: 300px; }

/*# sourceMappingURL=kabarda.css.map */
